:root {
  // Colors - Light
  --bg: #faf3e0;
  --text: #444;
  --accent: #333;
  --link: #333;

  // Colors - Dark
  --dark-bg: #1b2432;
  --dark-text: #f5f5f5;
  --dark-accent: #9ecfff;
  --dark-link: #9ec;

  // Widths
  --mw: 800px; // Main width
  --cw: 1000px; // Code block width max

  --rounded: 6px;
}
