@import "variables";

$text: var(--text);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0% auto;
  background: var(--bg);
  color: var(--text);
  font-size: 18px;
  line-height: 1.8;
  max-width: 800px;
  padding: 0 13px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  transition: 0.3s ease-in-out background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  margin: 22px 0 0 0;
}

.heading-link {
  text-decoration: none !important; /* Remove underline */
  color: inherit !important; /* Inherit the text color */
  display: block;

  &::before {
    all: unset;
  }

  &::after {
    all: unset;

    &:hover {
      all: unset;
    }
  }
}

.heading-link:hover,
.heading-link:focus {
  text-decoration: none;
  color: inherit;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0px;
}

p + ul {
  margin-top: -10px;
}

iframe {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 4px;
}

a {
  position: relative;
  display: inline-block;
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transform: translateY(10px);
  transition: color 0.2s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
    border-radius: 2px;
    background-color: var(--link);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: var(--accent);
    border-radius: 2px;
  }

  &:hover::after {
    transform: translateX(0);
  }

  &:hover::before {
    transform: translateX(100%);
  }
}

.content {
  min-height: calc(100vh - 75px);
}
header {
  margin: 3% 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

p > code {
  font-size: 16px;
  background-color: #00000015;
  transform: translateY(2px);
  padding: 2px 6px;
  border-radius: 4px;
}

.code-block {
  text-shadow: none;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  transition: 0.15s ease-in all;
  overflow-x: scroll;
  width: 100%;
}

.expand {
  @media (min-width: 800px) {
    // 800px + (1000px - 800px) => 800px + 200px => 1000px
    width: calc(var(--mw) + (var(--cw) - var(--mw)));

    // (1000px - 800px) / 2 => 200px / 2 => 100px
    transform: translateX(calc(((var(--cw) - var(--mw)) / 2) * -1));
  }
}

.chroma {
  padding: 8px 10px;
}

.code-block {
  &::-webkit-scrollbar {
    height: 6px;
    width: 4px;
    background-color: #303446;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background: #c6d0f5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: #c6d0f5;
    border-radius: 10px;
  }
}

button {
  border: solid 1px;
  border-color: var(--accent);
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: "Sen", sans-serif;
  cursor: pointer;
  transition: 0.1s ease background-color;

  &:hover {
    background-color: var(--accent);
    color: var(--bg);
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 0 3% 0;
  border-bottom: 1px solid #333;

  a {
    text-decoration: none;
    font-family: "Sen", sans-serif;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: var(--link);
      transition: width 0.3s;
    }
    &:before {
      all: unset;
      background: var(--link);
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 16px;
  }
}

#logo {
  height: 40px;
  transition: 0.3s ease-in-out fill;
}

@media (max-width: 800px) {
  .code-block {
    font-size: 14px;
  }
}
/* Dark mode styles */
.dark-mode {
  background-color: var(--dark-bg); // Dark mode background
  color: var(--dark-text); // Dark mode text color

  /* Add more styles for other elements if needed */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-text); // Dark mode header color
  }

  a {
    color: var(--dark-link);
    &::before {
      background-color: var(--dark-link);
    }

    &::after {
      background-color: var(--dark-accent);
    }
  }

  button {
    border-color: var(--dark-accent);
    color: var(--dark-accent);

    &:hover {
      background-color: var(--dark-accent);
      color: var(--dark-bg);
    }
    &::before:hover {
      background-color: var(--dark-accent);
    }
  }

  #logo {
    filter: invert(1);
  }

  p > code {
    background-color: #ffffff20;
  }
}
