:root {
  --bg: #faf3e0;
  --text: #444;
  --accent: #333;
  --link: #333;
  --dark-bg: #1b2432;
  --dark-text: #f5f5f5;
  --dark-accent: #9ecfff;
  --dark-link: #9ec;
  --mw: 800px;
  --cw: 1000px;
  --rounded: 6px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0% auto;
  background: var(--bg);
  color: var(--text);
  font-size: 18px;
  line-height: 1.8;
  max-width: 800px;
  padding: 0 13px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  transition: 0.3s ease-in-out background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  margin: 22px 0 0 0;
}

.heading-link {
  text-decoration: none !important; /* Remove underline */
  color: inherit !important; /* Inherit the text color */
  display: block;
}
.heading-link::before {
  all: unset;
}
.heading-link::after {
  all: unset;
}
.heading-link::after:hover {
  all: unset;
}

.heading-link:hover,
.heading-link:focus {
  text-decoration: none;
  color: inherit;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0px;
}

p + ul {
  margin-top: -10px;
}

iframe {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 4px;
}

a {
  position: relative;
  display: inline-block;
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transform: translateY(10px);
  transition: color 0.2s ease-in-out;
}
a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
  border-radius: 2px;
  background-color: var(--link);
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: var(--accent);
  border-radius: 2px;
}
a:hover::after {
  transform: translateX(0);
}
a:hover::before {
  transform: translateX(100%);
}

.content {
  min-height: calc(100vh - 75px);
}

header {
  margin: 3% 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

p > code {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.0823529412);
  transform: translateY(2px);
  padding: 2px 6px;
  border-radius: 4px;
}

.code-block {
  text-shadow: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 6px;
  transition: 0.15s ease-in all;
  overflow-x: scroll;
  width: 100%;
}

@media (min-width: 800px) {
  .expand {
    width: calc(var(--mw) + var(--cw) - var(--mw));
    transform: translateX(calc((var(--cw) - var(--mw)) / 2 * -1));
  }
}

.chroma {
  padding: 8px 10px;
}

.code-block::-webkit-scrollbar {
  height: 6px;
  width: 4px;
  background-color: #303446;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.code-block::-webkit-scrollbar-thumb:horizontal {
  background: #c6d0f5;
  border-radius: 10px;
}
.code-block::-webkit-scrollbar-thumb:vertical {
  background: #c6d0f5;
  border-radius: 10px;
}

.btn-primary {
  border: solid 1px;
  border-color: var(--accent);
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: "Sen", sans-serif;
  cursor: pointer;
  transition: 0.1s ease background-color;
}
.btn-primary:hover {
  background-color: var(--accent);
  color: var(--bg);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 0 3% 0;
  border-bottom: 1px solid #333;
}
nav a {
  text-decoration: none;
  font-family: "Sen", sans-serif;
}
nav a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--link);
  transition: width 0.3s;
}
nav a:before {
  all: unset;
  background: var(--link);
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 16px;
}

#logo {
  height: 24px;
  transition: 0.3s ease-in-out fill;
}

.control-bar {
  position: fixed;
  right: 6px;
  top: 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--bg);
  border: 1px solid var(--accent);
}
.icon-container .icon {
  height: 24px;
  width: 24px;
}

@media (max-width: 800px) {
  .code-block {
    font-size: 14px;
  }
}
/* Dark mode styles */
.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  /* Add more styles for other elements if needed */
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: var(--dark-text);
}
.dark-mode a {
  color: var(--dark-link);
}
.dark-mode a::before {
  background-color: var(--dark-link);
}
.dark-mode a::after {
  background-color: var(--dark-accent);
}
.dark-mode .btn-primary {
  border-color: var(--dark-accent);
  color: var(--dark-accent);
}
.dark-mode .btn-primary:hover {
  background-color: var(--dark-accent);
  color: var(--dark-bg);
}
.dark-mode .btn-primary::before:hover {
  background-color: var(--dark-accent);
}
.dark-mode #logo {
  filter: invert(1);
}
.dark-mode p > code {
  background-color: rgba(255, 255, 255, 0.1254901961);
}
.dark-mode .icon-container {
  background: var(--dark-bg);
  border-color: var(--dark-accent);
}
.dark-mode .icon {
  filter: invert(1);
}

/*# sourceMappingURL=style.css.map */
